package ${generateOptions.packageId}.data;

#*  *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()}) 
import ${generateOptions.packageId}.definitions.I${r.extensionName};  
import ${generateOptions.packageId}.definitions.I${r.extensionName}Upd;  
#*      *##end

public class Code${generateOptions.schemaDefinition.extensionName} {

#*  *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()}) 
     public static void assign${r.extensionName}(I${r.extensionName}Upd to, I${r.extensionName} from) {

#*      *##foreach($f in ${r.getFields()}) 
#*          *##if (! ${f.isArrayItem()})	
        to.set${f.extensionName}(from.get${f.extensionName}());
#*          *##end
#*      *##end
	
#*      *##foreach($as in ${r.getArraySameSize()}) 
#*          *##set($n = "from.get${as.get(0).getFirstElement().extensionName}ArrayLength")
${as.get(0).getForLoops("${n}")}	
#*          *##foreach($a in ${as}) 
                       to.set${a.getFirstElement().extensionName}(
                              ${a.getCallIndexParameters()},  
                              from.get${a.getFirstElement().extensionName}(${a.getCallIndexParameters()}));
#*          *##end
${as.get(0).getEndForLoops()}	
#*      *##end
     }
     
#*  *##end
}
