package example;
##  
##   Read Example Standard JRecord
##
##   Author: Bruce Martin
##
#incl("schema/CommentExample.pvm")

import net.sf.JRecord.JRecordInterface1;
import net.sf.JRecord.Details.AbstractLine;
import net.sf.JRecord.IO.AbstractLineReader;
#IoBldrImport()                                        

/**
 * Read Cobol file using a Cobol Copybook (${generateOptions.schemaDefinition.extensionName}).
 *
 * This Generated program is intended as an example of using JRecord
 * rather than a useful program (that compiles - it wont).
 * You should regard it as a starting point and modify 
 * it according to needs
 */
public final class Read${generateOptions.schemaDefinition.extensionName} {

    private String testDir        = "G:/temp/";
    private String salesFile      = testDir + "DTAR020.bin";
#*    private String salesFileOut   = testDir + "DTAR020out.bin";*#
    private String copybookName   = "${generateOptions.getSchemaDefinition().schemaName.getJavaFileName()}"; 
 
    /**
     * Example of LineReader  classes
     */
    public Read${generateOptions.schemaDefinition.extensionName}() {
        super();

        AbstractLine line;
        int lineNum = 0;

        try {
#incl("schema/DclIOBuilder.pvm")         
            AbstractLineReader reader = iob.newReader(salesFile);
 
            while ((line = reader.read()) != null) {
                lineNum += 1;
#*  *##set(xxx = aa ++ bb)                
#*  *##if (${generateOptions.schemaDefinition.getRecords().xsize()} == 1)
#*      *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()}) 
#*          *##set( $sep = "        ")    
                System.out.println(
#*          *##foreach($f in ${r.getFields(11)}) 
                      ${sep}line.getFieldValue("${f.fieldDetail.getLookupName()}").asString()
#*              *##set( $sep = '+ " " + ')    
#*          *##end
                   );
#*      *##end                        
#*  *##else	
#*      *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()}) 
#*          *##set( $sep = "        ")    
                if (/* ${r.record.recordName} */) {
                   System.out.println(
#*          *##foreach($f in ${r.getFields(11)}) 
                      ${sep}line.getFieldValue("${f.fieldDetail.getLookupName()}").asString()
#*              *##set( $sep = '+ " " + ')    
#*          *##end
                   );
                }
#*      *##end                        
#*  *##end                        
            }

            reader.close();
        } catch (Exception e) {
            System.out.println("~~> " + lineNum + " " + e);
            System.out.println();

            e.printStackTrace();
        }
    }
    
    public static void main(String[] args) {
        new Read${generateOptions.schemaDefinition.extensionName}();
    }
}

