package example;
##
##  Example Standard JRecord
##
#incl("schema/CommentExample.pvm")

import java.io.IOException;

import net.sf.JRecord.JRecordInterface1;
import net.sf.JRecord.Details.AbstractLine;
#IoBldrImport()
                                         
import net.sf.JRecord.IO.AbstractLineWriter;
##import net.sf.JRecord.def.IO.builders.${ioBldr};

/**
 * Write Cobol file using a Cobol Copybook (${generateOptions.schemaDefinition.extensionName}).
 *
 * This Generated program is intended as an example of using JRecord
 * rather than a useful program (that compiles - it wont).
 * You should regard it as a starting point and modify 
 * it according to needs
 */
public final class Write${generateOptions.schemaDefinition.extensionName} {

    private String testDir        = "G:/temp/";
    private String salesFileOut   = testDir + "DTAR020out.bin";
    private String copybookName   = "${generateOptions.getSchemaDefinition().schemaName.getJavaFileName()}"; 
                              
    /**
     * Example of LineReader  classes
     */
    public Write${generateOptions.schemaDefinition.extensionName}() {
        super();

        try {
#incl("schema/DclIOBuilder.pvm")        
##*  *##if (${generateOptions.isXmlSchema()})
##           IIOBuilder iob = JRecordInterface1.SCHEMA_XML
##                                      .newIOBuilder(copybookName);
##*  *##else	
##           ICobolIOBuilder iob = JRecordInterface1.COBOL
##                                      .newIOBuilder(copybookName)
##                                          .setFont("${generateOptions.font}")
##                                          .setFileOrganization(${generateOptions.io.code})
##                                          .setSplitCopybook(${generateOptions.splitOption.code})
##                                          .setDropCopybookNameFromFields(${generateOptions.dropCopybookName});  
###*  *##end                                           
            AbstractLineWriter writer = iob.newWriter(salesFileOut);
 
#*  *##set( $sep = "        ")    
#*  *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()}) 
            writer.write(create${r.extensionName}(iob, data));
#*  *##end                       

            writer.close();
        } catch (Exception e) {
             System.out.println();

            e.printStackTrace();
        }
    }


  /*
   * The following code contains sample assignments for every 
   * field in the Cobol File. You should modify the code to suit
   * your needs.
   *  As I do not know where the data is coming from, I have used
   * SourceOfDataForTheCobolFile instead. You should replace this with your
   * class / classes.
   */
   
#*  *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()}) 
    private AbstractLine create${r.extensionName}(${ioBldr} iob, SourceOfDataForTheCobolFile data) 
    throws IOException {
        AbstractLine l = iob.newLine();    
        
#*      *##foreach($f in ${r.getFields()}) 
        l.getFieldValue("${f.fieldDetail.getLookupName()}").set(data. ...);
#*      *##end
    
        return l;
    }

#*  *##end
    public static void main(String[] args) {
        new Write${generateOptions.schemaDefinition.extensionName}();
    }
}

