package ${packageId};
#incl("schema/CommentSchema.pvm")

public interface I${generateOptions.schemaDefinition.extensionName}Schema {
	public Defs${generateOptions.schemaDefinition.extensionName}.Records generatedRecordType();
	
#foreach( $r in ${generateOptions.schemaDefinition.getRecords()})
	public I${r.extensionName}Upd as${r.extensionName}();
	
#end
}
