package ${packageId};
##${generateOptions.packageId}.schema;
#incl("schema/CommentFieldName.pvm")

#*  *##set ($toAdd = "yes")
#*  *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()}) 
#*      *##if (${r.getArrayDetailsList().size()} > 0)
#*          *##if (${toAdd} == "yes")
import net.sf.JRecord.cgen.impl.ArrayFieldName;
import net.sf.JRecord.cgen.def.*;
#*              *##set ($toAdd = "no")
#*          *##end
#*      *##end
#*  *##end

public class FieldNames${generateOptions.schemaDefinition.extensionName} {

#*  *##set ($schemaDef = ${generateOptions.schemaDefinition})
#*  *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()}) 
    public static final Record${r.extensionName} RECORD_${r.constantName} = new Record${r.extensionName}();
#*  *##end    

#*  *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()}) 
    public static class Record${r.extensionName} {
#*    *##foreach($f in ${r.getFields()}) 	
#*      *##if (! ${f.isArrayItem()})
       public final String ${f.javaName} = "${f.fieldDetail.getLookupName()}";
#*      *##end
#*    *##end 
#*    *##if (${r.getArrayDetailsList().size()} > 0)

   // Array fields follow:	

#*        *##foreach($a in ${r.getArrayDetailsList()}) 
       public final IFieldName${a.getDimensionString()}Dimension ${a.getFirstElement().javaName} #*
    *# = new ArrayFieldName("${a.getFirstElement().cobolName}");
#*        *##end
#*    *##end
	
    }


#*  *##end    
}

