package ${packageId};
##
##   Write Example JRecord with Schema-Fields
##
##   Author: Bruce Martin
##
#incl("schema/CommentExample.pvm")

import java.io.IOException;

import net.sf.JRecord.JRecordInterface1;
import net.sf.JRecord.Details.AbstractLine;
#IoBldrImport()

import net.sf.JRecord.IO.AbstractLineWriter;

###*  *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()})
##import ${generateOptions.packageId}.schema.Record${r.extensionName};
###*  *##end
import ${generateOptions.packageId}.schema.FieldNames${generateOptions.schemaDefinition.extensionName};


/**
 * Write Cobol file using a Cobol Copybook (${generateOptions.schemaDefinition.extensionName}).
 *
 * This Generated program is intended as an example of using JRecord
 * rather than a useful program (that compiles - it wont).
 * You should regard it as a starting point and modify
 * it according to needs
 */
public final class Write${generateOptions.schemaDefinition.extensionName} {


    private String outputFileName = "";
    private String copybookName   = "${generateOptions.getSchemaDefinition().schemaName.getJavaFileName()}";

#*  *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()})
###    private Record${r.extensionName} r${r.extensionName};
    private FieldNames${generateOptions.schemaDefinition.extensionName}.Record${r.extensionName} r${r.extensionName} = FieldNames${generateOptions.schemaDefinition.extensionName}.RECORD_${r.constantName};

#*  *##end

    /**
     * Example of LineReader  classes
     */
    public Write${generateOptions.schemaDefinition.extensionName}() {
        super();

        try {
#incl("schema/DclIOBuilder.pvm")
###*  *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()})
##            r${r.extensionName} = schema${generateOptions.schemaDefinition.extensionName}.record${r.extensionName};
###*  *##end
            AbstractLineWriter writer = iob.newWriter(outputFileName);

#*  *##set( $sep = "        ")
#*  *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()})
            writer.write(create${r.extensionName}(iob, data));
#*  *##end

            writer.close();
        } catch (Exception e) {
             System.out.println();

            e.printStackTrace();
        }
    }


   /*
   *   The following code contains sample assignments for every 
   * field in the Cobol File. You should modify the code to suit
   * your needs.
   *   As I do not know where the data is coming from, I have used
   * SourceOfDataForTheCobolFile instead. You should replace this with your
   * class / classes  or remove it as needed.
   *   To put it another way, it time for you to start Coding
   */


#*  *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()})
    private AbstractLine create${r.extensionName}(${ioBldr} iob, SourceOfDataForTheCobolFile data) 
    throws IOException {
        AbstractLine line = iob.newLine();

#*      *##foreach($f in ${r.getFields()})
#*          *##if (! ${f.isArrayItem()})
#*              *##if (${f.getValue()})
#*                  *##if (${f.isPrimitiveNumeric()})
        line.getFieldValue(r${r.extensionName}.${f.javaName}).set(${f.getValue()});
#*                  *##else
        line.getFieldValue(r${r.extensionName}.${f.javaName}).set("${f.getValue()}");
#*                  *##end
#*              *##else
        line.getFieldValue(r${r.extensionName}.${f.javaName}).set(data. ...);
#*              *##end
#*          *##end
#*      *##end

#*      *##foreach($a in ${r.getArrayDetailsList()})
        line.getFieldValue(r${r.extensionName}.${a.getFirstElement().javaName}.get(${a.getZeroArrayIndex()})).set(data. ...);
#*      *##end

        return line;
    }

#*  *##end
    public static void main(String[] args) {
        new Write${generateOptions.schemaDefinition.extensionName}();
    }
}

