package ${packageId};
##  
##   Read Example JRecord using Schema-Fields
##
##   Author: Bruce Martin
##
#incl("schema/CommentExample.pvm")

import net.sf.JRecord.JRecordInterface1;
import net.sf.JRecord.Details.AbstractLine;
import net.sf.JRecord.IO.AbstractLineReader;
#IoBldrImport()
                                         

#*  *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()})                     
import ${generateOptions.packageId}.schema.Record${r.extensionName};
#*  *##end
import ${generateOptions.packageId}.schema.Schema${generateOptions.schemaDefinition.extensionName};
	

/**
 * Read Cobol file using a Cobol Copybook (${generateOptions.schemaDefinition.extensionName}).
 *
 * This Generated program is intended as an example of using JRecord
 * rather than a useful program (that compiles - it wont).
 * You should regard it as a starting point and modify 
 * it according to needs
 */
public final class Read${generateOptions.schemaDefinition.extensionName} {

    private String testDir        = "G:/temp/";
    private String salesFile      = testDir + "DTAR020.bin";
#*    private String salesFileOut   = testDir + "DTAR020out.bin";*#
    private String copybookName   = "${generateOptions.getSchemaDefinition().schemaName.getJavaFileName()}"; 
 
    /**
     * Example of LineReader  classes
     */
    public Read${generateOptions.schemaDefinition.extensionName}() {
        super();

        AbstractLine line;
        int lineNum = 0;

        try {
#incl("schema/DclIOBuilder.pvm")        
            Schema${generateOptions.schemaDefinition.extensionName} schema${generateOptions.schemaDefinition.extensionName}
                    = new Schema${generateOptions.schemaDefinition.extensionName}(iob.getLayout()); 
#*  *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()})                     
            Record${r.extensionName} r${r.extensionName} = schema${generateOptions.schemaDefinition.extensionName}.record${r.extensionName};
#*  *##end                                           
            AbstractLineReader reader = iob.newReader(salesFile);
#macro (scPrtFields)
#*  *##set( $sep = "        ")    
#*  *##foreach($f in ${r.getFields(11)})
#*      *##if (! ${f.isArrayItem()})
                      ${sep}line.getFieldValue(r${r.extensionName}.fld${f.extensionName}).asString()
#*            *##set( $sep = '+ " " + ')    
#*      *##end
#*  *##end
#*  *##foreach($a in ${r.getArrayDetailsList()}) 
#*      *##if (! ${f.isArrayItem()})	
                      ${sep}line.getFieldValue(r${r.extensionName}.array${a.getFirstElement().extensionName}.get(${a.getZeroArrayIndex()})).asString()
#*            *##set( $sep = '+ " " + ')    
#*      *##end
#*  *##end
#end	
            while ((line = reader.read()) != null) {
                lineNum += 1;
#*  *##if (${generateOptions.schemaDefinition.getRecords().size()} == 1)
#*      *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()}) 
                System.out.println(
#*          *##scPrtFields()  
###*          *##foreach($f in ${r.getFields(11)}) 
##                      ${sep}line.getFieldValue(r${r.extensionName}.fld${f.extensionName}).asString()
###*              *##set( $sep = '+ " " + ')    
###*          *##end
                   );
#*      *##end                        
#*  *##else	
#*      *##foreach( $r in ${generateOptions.schemaDefinition.getRecords()}) 
                if (/* ${r.record.recordName} */) {
                   System.out.println(
#*          *##scPrtFields()  
###*          *##foreach($f in ${r.getFields(11)}) 
##                      ${sep}line.getFieldValue(r${r.extensionName}.fld${f.extensionName}).asString()
###*              *##set( $sep = '+ " " + ')    
###*          *##end
                   );
                }
#*      *##end                        
#*  *##end                        
            }

            reader.close();
        } catch (Exception e) {
            System.out.println("~~> " + lineNum + " " + e);
            System.out.println();

            e.printStackTrace();
        }
    }
    
    public static void main(String[] args) {
        new Read${generateOptions.schemaDefinition.extensionName}();
    }
}

