package ${packageId};
#incl("schema/CommentSchema.pvm")

import java.util.HashMap;

public class Defs${generateOptions.schemaDefinition.extensionName} {

	private static final HashMap<String, Records> recordMap = new HashMap<String, Records>();
	
    public enum Records {
#set ($sep = " ")
#foreach( $r in ${generateOptions.schemaDefinition.getRecords()})
        ${sep}${r.constantName}("${r.cobolName}")
#set ($sep = ",")
#end
	;		

		private final String recName;
		Records(String recName) {
			this.recName = recName;
			
			recordMap.put(recName.toLowerCase(), this);
		}
	}
	
	public static Records recordFromString(String recName) {
		if (recName == null) { return null;}
		return recordMap.get(recName.toLowerCase());
	}
}
