A.tab {
	FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; COLOR: #576c7d; TEXT-DECORATION: none
}
A.tab:hover {
	TEXT-DECORATION: underline
}
#activeTab {
	BORDER-RIGHT: #233342 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #233342 1px solid; MARGIN-TOP: 2px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; PADDING-BOTTOM: 3px; BORDER-LEFT: #233342 1px solid; WIDTH: 93px; COLOR: white; PADDING-TOP: 2px; BORDER-BOTTOM: #576c7d 1px solid; HEIGHT: 44px; BACKGROUND-COLOR: #576c7d
}
#tabLink {
	BORDER-RIGHT: #576c7d 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #576c7d 1px solid; MARGIN-TOP: 9px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; BORDER-LEFT: #576c7d 1px solid; WIDTH: 80px; PADDING-TOP: 2px; BORDER-BOTTOM: #e7ebec 1px solid; HEIGHT: 37px; BACKGROUND-COLOR: #e7ebec
}
#dark {
	FONT-WEIGHT: bold; COLOR: white; BACKGROUND-COLOR: #576c7d; TEXT-ALIGN: center
}
